body {
    background-color: rgb(190, 99, 129);
}

.title {
    color: rgb(9, 8, 8);
}
.sub-title {
    color: rgb(20, 4, 4);
}

.card {
    background: rgb(243, 235, 235);
    width: 270px;
    height: 500px;
    margin-left: 200px;
}

.btn {
    color: rgb(58, 30, 199);
    background-color: white;
}

